---
import MainLayout from '~/layouts/MainLayout.astro';
import Hero from './_components/landing-page/Hero.astro';
// import Agencies from './_components/landing-page/Agencies.astro';
// import Development from './_components/landing-page/Ecosystem.astro';
// import Work from './_components/landing-page/Features.astro';
// import FinalCTA from './_components/landing-page/FinalCTA.astro';
// import Integrations from './_components/landing-page/Integrations.astro';
// import Intro from './_components/landing-page/Intro.astro';
// import Islands from './_components/landing-page/Islands.astro';
// import Software from './_components/landing-page/Sponsors.astro';
---

<MainLayout
	bgClass="bg-astro-dark-900"
	image={{ src: '/og/astro.jpg', alt: 'Astro - Build the web you want.' }}
>
	<Hero />
	<!-- <Intro /> -->
	<!-- <Islands /> -->
	<!-- <Integrations /> -->
	<!-- <Work /> -->
	<!-- <Development /> -->
	<!-- <Agencies /> -->
	<!-- <FinalCTA /> -->
	<!-- <Software /> -->
	<div class="h-20 sm:h-36"></div>
</MainLayout>
