---
import CodeBlock from '~/components/CodeBlock.astro';
import PageTitleBlock from '~/components/PageTitleBlock.astro';
import LatestBlogPostLink from '../LatestBlogPostLink.astro';
import Link from '../Link.astro';
import HeroBackground from './HeroBackground.astro';
import Teams from './Teams.astro';
---

<section class="relative">
	<section class="mt-16 md:mt-20 lg:mt-24 px-4 sm:px-8 mx-auto w-full sm:max-w-screen-md flex flex-col items-center justify-center gap-5 md:gap-6 lg:gap-8">
		
        <LatestBlogPostLink />

		<PageTitleBlock
			wide
			lg
			body="Self starter with a strong aptitude to learn and solve challenges. Ability to further education as needed. Seeking remote work opportunities within the United States."
		>
		<h1 slot="title" class="text-balance mb-4 text-center text-3xl/[1.1] font-bold font-heading sm:max-w-[24ch] md:text-4xl/[1.1] xl:text-5xl/[1.1]">
			<p>
                Jordan 
                <p>
            
            
            Software Engineer 
		</h1>
		</PageTitleBlock>

		<div class="grid grid-rows-2 gap-2">
			<Link href="https://docs.astro.build/" class="primary w-full h-fit">
				<span class="bg-clip-text text-transparent bg-blue-purple-gradient group-hover:text-astro-blue transition-all ease-in-out duration-500">
				    Get In Touch
				</span>
			</Link>
			<CodeBlock>sudo.sendmail.jordan@gmail.com</CodeBlock>
		</div>
	
    </section>

	<HeroBackground />
    <Teams />
</section>
